

<!--<span slot="headermiddle">Location</span>-->

${_s.success ? html`
<iframe 
    width="100%" 
    height="400px" 
    frameborder="0" 
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCGeIYK8t4IZuhyAf7z_xsFTjGZKIHePHI&q=${_m.lat},${_m.lon}&zoom=10&maptype=roadmap"
    allowfullscreen
    style="border-bottom: 3px solid #a0a0a0;">
</iframe>

<div id="map_info">
    <div class="info-item">
        <span class="label">Last Located at:</span>
        ${_m.ts ? html`
            <span class="value ${_s.isold ? 'attention' : ''}">
                ${(new Date(_m.ts*1000)).toLocaleDateString()}
            </span>
        ` : html`<span class="value">Unknown</span>`}
    </div>
    <div class="info-item">
        <span class="label">Cell Tower Distance from Store:</span>
        ${_m.storedistance ? html`
            <span class="value ${_s.istoofar ? 'attention' : ''}">
                ${_m.storedistance.toFixed(2)} miles
            </span>
        ` : html`<span class="value">Unknown</span>`}
    </div>

    ${_s.isold || _s.istoofar ? html`
    <div class="warning-container">
		${_s.isold ? html`<div class="warning-item attention">Out of Date</div>` : ''}
		${_s.istoofar ? html`<div class="warning-item attention">Not at Store</div>` : ''}
    </div>
    ` : ''}

    <div class="info-item">
		${_m.sourcedfrom === 'database' ? html`STALE & Err Msg: ${_m.errmsg}` : _m.sourcedfrom }
	</div>
</div>


` : html`

<div id="map_info">
    <div class="info-item">
        <p>Loading or Unable to Locate Machine</p>
    </div>
</div>

`}



