:host {
  display: block;
}


#map_info {
  margin-top: 15px;
  display: b;
  justify-content: space-around; /* Use space-around for better spacing */
  align-items: center; /* Vertically align items */
  padding: 0 10px; /* Add some horizontal padding */
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
  gap: 10px; /* Add gap between items */
}

.info-item {
  display: block;
  align-items: center;
  gap: 8px; /* Space between icon, label, and value */
  text-align: left; /* Align text to the left */
  padding: 5px 0; /* Add some vertical padding */
}

.info-item ion-icon {
  font-size: 22px; /* Slightly smaller icon */
  color: var(--ion-color-medium-shade); /* Use a standard color */
}

.info-item .label {
  font-weight: normal; /* Less emphasis on label */
  color: var(--ion-color-medium-shade);
}

.info-item .value {
  font-weight: bold; /* Emphasize the value */
  color: var(--ion-color-dark-shade);
}

.info-item .value.attention {
  color: var(--errorcolor); /* Use theme's danger color for attention */
}

/* Responsive adjustments if needed */
@media (max-width: 400px) {
  #map_info {
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: flex-start; /* Align items to the start */
    padding-left: 20px; /* Indent stacked items */
  }
  .info-item {
    width: 100%; /* Make items take full width when stacked */
  }
}

.warning-container {
  display: flex;
  text-align: center;
  margin-top: 10px;
  width: 100%;
  border-top: 1px solid #ececec;
  padding-top: 10px;
}



.warning-item {
  flex: 1;
  font-weight: bold;
  font-size: 17px;
}
.warning-item.attention {
  color: var(--errorcolor); /* Use theme's danger color for attention */
}



