

:host {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.scrollcontainer {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    overflow-y: hidden;
    height: 200%;
    z-index: 2;
    scroll-snap-type: y mandatory;
}
.scrollcontainer.scrollmode {
	overflow-y: scroll;

	> .wrapper {
		top: 50% !important;
		z-index: 2;
	}

	.emptyspace {top: 0%;background: #7600ff4d;}

	.snapel {
		scroll-snap-align: start;
	}
}


.emptyspace {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}


.wrapper {
    position: absolute;
    border-radius: 8px 8px 0px 0px;
    border: 0px solid rgb(40 171 214 / 47%);
    box-shadow: 0 0 12px -4px rgba(0, 0, 0, 0.5);
    opacity: 0;
    box-sizing: border-box;
    background: white;
    box-sizing: border-box;
    z-index: 2;
}
.wrapper.mobile_centric {
    box-shadow: none;
    height: 100%;
}

.wrapper > header {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 12px;

    & .left {
        display: block;
        width: 20%;
        font-family: var(--fontfamily);
        font-size: 16px;
        font-weight: 400;
        color: var(--actioncolor);
        cursor: pointer;

		a {
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		}

    }

    & .middle {
        display: block;
        width: 60%;

        & h1 {
			font-family: var(--fontfamily);
			-webkit-font-smoothing: antialiased;
			color: var(--textcolor);	
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            padding: 0;
            margin: 0;
        }
    }

    & .right {
        display: block;
        width: 20%;
        font-size: 16px;
        font-weight: 400;
        text-align: right;
        color: var(--actioncolor);
    }
}

.wrapper > slot {
    display: block;
    overflow-y: auto;
}

.backgroundcover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    /*will-change: opacity; /* Prevents flicker in Safari */
    /*background-color: #00000036;*/
    background-color: #00000036;
    background-color: rgba(255, 255, 255, 0.9);
}
