


<header class="viewheader">
	<a class="left" @click="${()=>$N.SwitchStation.NavigateBack({default:'home'})}"><span>‸</span></a>
	<div class="middle"><h1>Machines <a @click="${()=>this.tempnoti()}"> &nbsp; &nbsp; </a></h1></div>
	<div class="right">
        ${localStorage.getItem('user_email') === 'accounts@risingtiger.com' ? html`
            <i class="icon-add"  @click="${()=>{ this.ShowAddMachineUI(); }}" style=""></i>
			<!--<i class="icon-edit1"  @click="${()=>{ Firestore.Patch(`machines/NhDu4jmNyRBHN0AXs4WX`, { "store.brand": ("Luckys" + ( Math.floor(Math.random() * 20) )) }); }}" style="font-size: 25px;position: relative;top: 5px;"></i>-->
        ` : ''}
	</div>
</header>




<div class="content">

    <div id="filterwrap">
        <form id="filter">
            <span class="justinput search">
                <i class="icon-search"></i>
                <input name="storename" @keyup="${(e)=>this.filterkeyup(e)}" @focus="${(e)=>this.filterkeyup(e)}" type="text" value="${_s.filterby.get('storename')}" placeholder="Store Name"></input>
            </span>
            <span class="justinput search">
                <i class="icon-search"></i>
                <input name="storeid" @keyup="${(e)=>this.filterkeyup(e)}" @focus="${(e)=>this.filterkeyup(e)}" type="text" value="${_s.filterby.get('storeid')}" placeholder="Store ID"></input>
            </span>
            <span class="justinput search">
                <i class="icon-search"></i>
                <input name="machineid" @keyup="${(e)=>this.filterkeyup(e)}" @focus="${(e)=>this.filterkeyup(e)}" type="text" value="${_s.filterby.get('machineid')}" placeholder="Machine ID"></input>
            </span>
            <span class="justinput search">
                <i class="icon-search"></i>
                <input name="chip" @keyup="${(e)=>this.filterkeyup(e)}" @focus="${(e)=>this.filterkeyup(e)}" type="text" value="${_s.filterby.get('chip')}" placeholder="Chip ID"></input>
            </span>
            <span class="justinput search">
                <i class="icon-search"></i>
                <input name="serial" @keyup="${(e)=>this.filterkeyup(e)}" @focus="${(e)=>this.filterkeyup(e)}" type="text" value="${_s.filterby.get('serial')}" placeholder="Serial Number"></input>
            </span>
        </form>
    </div>

	<ul class="items">

    ${_s.filtered_sorted_machines.map(m => html`
		<li @click="${(e) => this.gotoMachine(e.currentTarget.dataset.id)}" data-id="${m.id}">
	    <div class="thumbnail"><img src="/assets/media/bubble_${m.stateToShowColor}.svg"></div>

	    <div class="aux brandname">
            <h6 class="bits">
				<span class="bit">${get_title(m)}</span>
			</h6>
			<p class="bitslegend">
				<span class="bit">${m.msg}</span>
			</p>
        </div>

	    <div class="aux identifiers">
			<h6 class="bits">
				<span class="bit">${m.store.id.replace(/^0+/, "") || 'null'}</span>
				<!--<span class="bit">${m.particle.codeversion || '--'}</span>-->
				<!--<span class="bit">${m.particle.product === 11723 || m.particle.product === 20405 || m.particle.product === 20568 ? 'Boron' : 'BSeries'}</span>-->
			</h6>
			<p class="bitslegend">
				<span class="bit">store</span>
				<!--<span class="bit">version</span>-->
				<!--<span class="bit">type</span>-->
			</p>
	    </div>


		<!-- 
				${(m.particle.product === 11723 || m.particle.product === 20405 || m.particle.product === 20568) ? 'Boron' : 'BSeries'} / ${m.particle.serial.substring(m.particle.serial.length-4)} / ${m.particle.codeversion || '--'}</h6>
		-->

	    <div class="aux info">
			<h6 class="bits">
				<!--<span class="bit">${m.cell[0]} & ${m.cell[1]}</span>-->
				<span class="bit">${m.d}</span>
			</h6>
			<p class="bitslegend">
				<!--<span class="bit">cell sig</span>-->
				<span class="bit">last call</span>
			</p>
		</div>

		<div class="actions">
			<i class="action icon-info" data-machine_record_id="${m.id}" @click="${(e)=>this.show_details(e)}"></i>
			<i class="action icon-meter" data-machine_record_id="${m.id}" @click="${(e)=>this.meters_report_clicked(e)}"></i>
			<i class="action icon-location" data-machine_record_id="${m.id}" @click="${(e)=>this.show_map(e)}"></i>
		</div>
		
		
		<!--
        <div class="aux btnactions">
			<h6 data-machine_record_id="${m.id}" @click="${(e)=>this.show_details(e)}"><i class="icon-info" style=""></i></h6>
			<h6 data-machine_record_id="${m.id}" @click="${(e)=>this.metersReportClicked(e)}"><i class="icon-location" style=""></i></h6>
			<h6 data-machine_record_id="${m.id}" @click="${(e)=>this.meters_report_clicked(e)}"><i class="icon-meter" style=""></i></h6>
        </div>
		-->
    </li>
    `)}

  </ul>

	<vp-machine-notification></vp-machine-notification>

</div>




${ _s.show_addmachine !== 0 ? html`
    <c-ol shape="1" title="Add Machine" @close="${()=> this.sc({show_addmachine:0}) }">
        <span slot="headermiddle">Add New Machine</span>
        <vp-machine-addmachine></vp-machine-addmachine>
    </c-ol>
` : '' }







${_s.show_logs ? html`
	<c-pol shape="1" title="Logs" showheader="true" @close="${()=> this.sc({show_logs:0}) }">
		<span slot="headermiddle">Logs</span>
		<vp-machine-logs></vp-machine-logs>
	</c-pol>
` : '' }



${_s.meters_report_view.show !== 0 ? html`
	<c-ol shape="1" title="${_s.meters_report_view.header_name}" @close="${()=> { this.s.meters_report_view.show = 0; this.sc(); }}">
		<vp-metersreport machine_record_id="${_s.meters_report_view.machine_record_id}" machine_incrs="${_s.meters_report_view.machine_incrs}" machine_ts="${_s.meters_report_view.ts}"></vp-metersreport>
    </c-ol>
` : '' }

${_s.details_view.show !== 0 ? html`
	<c-ol shape="1" title="Machine Details" @close="${()=> {this.s.details_view.show = 0; this.sc(); }}">
        <vp-machine-details machine_record_id="${_s.details_view.machine_record_id}"></vp-machine-details>
    </c-ol>
` : ''}

${_s.map_view.show !== 0 ? html`
	<c-ol shape="1" title="Machine Map" @close="${()=> {this.s.map_view.show = 0; this.sc(); }}">
        <vp-machine-map machine_record_id="${_s.map_view.machine_record_id}"></vp-machine-map>
    </c-ol>
` : ''}


