
.viewheader > .right > i.icon-add {
	font-size: 15px;position: relative;top: 0px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.viewheader > .right > i.icon-refresh {
	font-size: 16px;
	position: absolute;
	top: 11px;
	right: 28px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


vp-machine-notification {
	position: fixed;
	z-index: 2;
    left: -5000%;
}
vp-machine-notification[active] {
	left: 50%;
}

#filterwrap {
	width: 100%;
	overflow-x: scroll;


    form#filter {
		width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        position: relative;
        padding: 11px 11px 17px 11px;
        box-sizing: border-box;
        overflow-x: scroll;
        /*border-bottom: 2px solid #e8e8e8;*/

        & > .justinput.search {
            flex: 1;
			padding-right: 10px;

			& > input {
				border-radius: 8px;
			}
        }
        & > .justinput.search:last-child {
            padding-right: 0;
        }

        /*
        & >
        span.filtertype {
            display: block;
        position: relative;
        padding-right: 10px;
        position: relative;
        width: 100%;

            & >
        input {
                font-size: 13px;
        box-sizing: border-box;
        outline: none;
        border: 1px solid #cecece;
        border-radius: 4px;
        padding: 7px 5px 8px 25px;
        color: #6d6d6d;
        display: block;
        margin-top: 0;
        width: 100%;
            }
            & >
        input::placeholder {
                color: #b5b5b5;
            }

            & >
        i {
                color: #bdbdbd;
        font-size: 19px;
        position: absolute;
        top: 6px;
        left: 6px;
            }
        }
        & >
        span.filtertype:last-child {
            padding-right: 0;
        }
    ;
        width: 100%;
			*/
    }
}


ul.items {
    & li {
        & .aux.brandname {
            width: 195px;
            min-width: 195px;
            max-width: 195px;
            margin-right: 7px;
            overflow: hidden;

			p.bitslegend > .bit {
				font-size: 13px;
				color: var(--textcolor-fade);
			}
        }

        & .aux.identifiers {
            width: 80px;
            flex: 1;

            & h6.bits {
				span:nth-child(1) {
					width: 100px;
				}
				span:nth-child(2) {
					width: 52px;
				}
            }
            & p.bitslegend {
				span:nth-child(1) {
					width: 52px;
				}
				span:nth-child(2) {
					width: 52px;
				}
            }
        }


        & .aux.info {
            width: 220px;
            flex: 1;

            & h6.bits {
				justify-content: flex-start;

				span:nth-child(1) {
					width: 100px;
				}
            }
            & p.bitslegend {
				justify-content: flex-start;
				
				
				span:nth-child(1) {
					width: 100px;
				}
            }
        }
    }
	& li:hover {
		& > .brandname > h6 {
			text-decoration: underline;
		}
	}
}

ion-item:nth-child(1) ion-label {
    margin-top: 8;
}

ion-avatar {
    width: 27px;
    height: 27px;
}

h3 + p {
    padding-left: 10px;
}

.isoffline_text {
    color: red;
}




@media only screen and (max-device-width: 767px) {

	.viewheader > .right > i.icon-refresh {
		top: 0px;
	}

	ul.items > li > i.action, ul.items > li > .aux.info {
		display: none;
	}

	ul.items > li > .actions > i.icon-meter {
		display: none;
	}


    #filterwrap {

        form#filter {
            width: 842px;
            padding-top: 8px;
            padding-bottom: 8px;
        }
    }

}

@media only screen and (min-device-width: 768px) {
}



