
header.viewheader .right {
	& i               {font-size: 15px;position:relative;top: 0;left: 0;padding-right: 1px;}
	& i.icon-location { font-size: 15px; }
	& i.icon-graph    {font-size: 15px;top: -4px;padding-right: 7px;}
	& i.icon-info     {font-size: 18px;top: -3px;}
	& i.icon-edit1    {font-size: 17px;top: -1px;}
	& i.icon-location {font-size: 17px;top: -2px;}
	& i.icon-meter    {font-size: 17px;top: -2px;}
}



#actions_menu::part(instigator) {
    font-size: 22px;
    border: none;
    padding: 0;
    font-weight: bold;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#actions_menu {
	position:relative;
	font-size: 20px;
	top: -4px;
	padding: 0;
	width: 23px;
	padding-right: 15px;
	
    & > span[slot="instigator"] {
        color: var(--actioncolor);
		width: 100%;
    }
}


@media only screen and (max-device-width: 767px) {

    header.viewheader .middle {
    }

    header.viewheader .right {
    }

    header.viewheader .middle h1 {
    }

    header.viewheader .right {
		& .icon-location { display: none; }
		& .icon-graph    { display: none; }
		& .icon-info     { display: none; }
		& .icon-edit1    { display: none; }
		& .icon-location { display: none; }
		& .icon-meter    { display: none; }
    }

    header.viewheader .right .icon-graph {
    }
}

