
:host {
}

.spin {
    width: 100%;
    height: 100%;
    background: none;

    & > .spinner {
    display: block;
    width: 100%;
    height: 100%;
    border: 3px solid #f3f3f3;
    box-sizing: border-box;
    border-radius: 50%;
    border-top-color: #0091e8;
    animation: spin 1s ease-in-out infinite;
    }
}
.spin.active {
    display: block;
}
.spin.blur {
    box-shadow: 0 0 20px 20px white;
}





@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
