
:host {
	width: 80%;
	margin-left: -40%;
	box-sizing: border-box;
	bottom: 20px;
}

.errrow-container {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	justify-content: flex-end;
	/* background:rgba(128, 128, 128, 0.39); */
}
.errrow {
	color: white;
	padding: 0 32px;
	margin-bottom: 5px;
	position: relative;
	opacity: 0;
	transform: translateY(-20px);
	transition: all 0.5s ease-in-out;
	box-sizing: border-box;
	height: 80px;
	border-radius: 12px;
	display: flex;
	flex-wrap: wrap;
}
.errrow.error {
	background-color: #c93e25;
	& > .errrowmsg {
		background: #df5137;
	}
}
.errrow.warn {
	background-color: #f48106;
	
	& > .errrowmsg {
		background: #ff9b2f;
	}
}
.errrow.info {
	background-color: #259fc9;
	
	& > .errrowmsg {
		background: #4bb9df;
	}
}
.errrow[active] {
	opacity: 1;
	transform: translateY(0);
}
.errrow.exit {
	opacity: 0;
	transform: translateX(100%);
}
.errrowtitle, .errrowmsg, .errrowdatetime {
	color: white;
	font-weight: bold;
	font-size: 15px;
}
.errrowtitle {
	color: white;
	font-weight: bold;
	padding-right: 21px;
	font-size: 17px;
	position: relative;
	top: 27px;
	width: 179px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.errrowmsg {
	color: white;
	font-weight: normal;
	position: relative;
	top: 22px;
	height: 32px;
	margin-right: 37px;
	border-radius: 8px;
	padding: 6px 14px;
	width: 173px;
	text-align: left;
	box-sizing: border-box;
}
.errrowdatetime {
	color: white;
	font-weight: normal;
	font-size: 13px;
	position: relative;
	top: 29px;
	color: #ffffffb8;
}
.close-btn {
	position: absolute;
	top: 0px;
	right: 5px;
	background: transparent;
	border: none;
	font-size: 18px;
	color: white;
	cursor: pointer;
	padding: 8px 9px;
}



@media only screen and (max-device-width: 767px) {

	:host {
		width: 94%;
		margin-left: -47%;
		bottom: 8px;
	}

	.errrow-container {
		display: flex;
	}
	.errrow {
		padding: 0px 10px;
	}
	.errrowtitle {
	top: 7px;
}
.errrowmsg {
	top: 3px;
	margin-right: 6px;
	left: 169px;
}
.errrowdatetime {
	top: -3px;
	left: -178px;
}

}

@media only screen and (min-device-width: 768px) {
    .aux.brandname:hover, .aux.viewmetersreport:hover {
        cursor: pointer;

		& > h6 {
			text-decoration: underline;
		}
    }
}
