


<header class="viewheader">
    <a class="left" @click="${()=>$N.SwitchStation.NavigateBack({default:'home'})}"><span>‸</span></a>
    <div class="middle">
        <h1>
			Trade Up
		</h1>
    </div>
    <div class="right">
		&nbsp;
    </div>
</header>

<div class="content">


  <div class="ab-comparison">
    <div class="ab-column" id="sideA">
      <h2>Option A</h2>
      <div class="ab-field">
        <label for="ampA">Amplitude:</label>
        <input id="ampA" name="amplitude" type="number" step="0.001" value="0.06">
      </div>
      <div class="ab-field">
        <label for="commA">Commission:</label>
        <input id="commA" name="commission" type="number" step="0.001" value="0.002">
      </div>
      <div class="ab-field">
        <label for="slipA">Slippage:</label>
        <input id="slipA" name="slippage" type="number" step="0.001" value="0.002">
      </div>
      <div class="ab-field">
        <label for="stopA">Stop:</label>
        <input id="stopA" name="stop" type="number" step="0.001" value="0.965">
      </div>
      <div class="ab-field">
        <label for="biasA">Bias:</label>
        <input id="biasA" name="bias" type="number" step="0.001" value="0">
      </div>
      <div class="ab-field">
        <label for="trailA">Trailing:</label>
        <input id="trailA" name="is_trailing" type="checkbox">
      </div>
      <c-btn @btnclick="${(e) => this.generateBatchA(e)}">Batch</c-btn>
      <c-btn @btnclick="${(e) => this.generateSingle(e)}">Single</c-btn>
      <div class="ab-results" id="resultsA">
        <table>
          <thead>
            <tr>
              <th>yend</th>
              <th>price</th>
              <th>wins</th>
              <th>losses</th>
              <th>ratio</th>
              <th>wins</th>
              <th>losses</th>
              <th>stopped</th>
              <th>stopped</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>

    <!-- Column B -->
    <div class="ab-column" id="sideB">

      <h2>Option B</h2>
      <div class="ab-field">
        <label for="ampB">Amplitude:</label>
        <input id="ampB" name="amplitude" type="number" step="0.001" value="0.06">
      </div>
      <div class="ab-field">
        <label for="commB">Commission:</label>
        <input id="commB" name="commission" type="number" step="0.001" value="0.002">
      </div>
      <div class="ab-field">
        <label for="slipB">Slippage:</label>
        <input id="slipB" name="slippage" type="number" step="0.001" value="0.002">
      </div>
      <div class="ab-field">
        <label for="stopB">Stop:</label>
        <input id="stopB" name="stop" type="number" step="0.001" value="0.965">
      </div>
      <div class="ab-field">
        <label for="biasA">Bias:</label>
        <input id="biasA" name="bias" type="number" step="0.001" value="0">
      </div>

      <div class="ab-field">
        <label for="trailB">Trailing:</label>
        <input id="trailB" name="is_trailing" type="checkbox">
      </div>
      <c-btn @btnclick="${(e) => this.generateBatchB(e)}">Generate</c-btn>
      <div class="ab-results" id="resultsB">
        <table>
          <thead>
            <tr>
              <th>yend</th>
              <th>price</th>
              <th>wins</th>
              <th>losses</th>
              <th>ratio</th>
              <th>wins</th>
              <th>losses</th>
              <th>stopped</th>
              <th>stopped</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>

  <br><br><br>
  <div class="ct-chart ct-octave"></div>
  <c-btn @btnclick="${(e) => this.view_randomchart(e)}">View Random Chart</c-btn>

</div>


