/* ../../Code/niftyserver/static_dev/index.css */
:root {
  --fontfamily:
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  --textcolor: #565656;
  --textcolor-fade: #818181;
  --textsize: 14px;
  --actioncolor: #0091e8;
  --errorcolor: red;
  --background: white;
  --background-highlight: #f9f9f9;
  --bordercolor: lightgray;
  --padding-container: 10px;
}
@font-face {
  font-family: "icons";
  src: url(data:font/woff2;base64,d09GMgABAAAAAAoUAAsAAAAAE7AAAAnEAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGYACFMgqWGJIHATYCJANkCzQABCAFg3IHgmobphBFRoWNAwj0fB2y/8sE25jbYZ+Fi1ANHhDRKO3T/3g2dhT3aTRuS+umTT48v80/l/ce2cYQ2D5W4MqKRKarwlXjojo+h7r/3THmwCuIyiQifQ2yfVvmBDxZpV/F8WlFxcMAbaQ9VwSKnAII8Mst/7vewkeoBJAd3/p/+bC8HFyb2Sx0CID4+t+59y2ycMCOhZsVTR7m5mYE3DckoWbc5GTbAbEkPn4zhr7x7kPA2MyDrwALq3DBXNXHaUAA8BGACLDiEtLyIO5Y3bMznEFDTSZA3pp0bGhXDe5zEuie1gRcELBt1yR6MhEMgP1wGYCX+fKJIEY6wAJDQe0hyxpvwcFP5JOW+ABwIYkO+pDFAhZbTQHwmVgKGdqf1R9UynwM57dl0ciS2jQI8EnrIHwikW7aagABCxRoMM//jccBFzzwIYAQIoghgRQyyKGAEiqooYEWIGyolkIAIAFUa4FPJAAYZAEAKQAgDQBkAIBsACAHAMgFAPIAgHwAoAAAKAQAigCAYgCgBAAoBQDKAIByAKACAKgEAKoAgGoAoAYAqMUGWYBTtEoQgFKAWgrQOigxVQrmJMygQJ44ltbWHGs2Z52k1EjQnOh4Oa2cWDy5lOaxxGIezSpbC0nMpI1L0C4aZYCHlKZVPJlM8NBezuax1SyWmBaJHNpCUhZcnqCZlMeltQKfYWg+TXtZzyaPdqRqERkSVrAEA1HNkAHFhCwVfHoMXNXKOl0jqikhzfUQZR1RAWAUHQFv6iEJCGJMrzCMKddvlVSkXjFlXpkdqpVgrOtkraoWNfYtr61BXAdpwSi+Il/AuE6kU0bYhE5MoJwoWok0hGG0uN2o8DfKMaKkjrQFzzPeVYKL0ZryR8s6Bb+C7JVMQmM8pupB7OJMBZWVwT472YoDpvygqWsaALaDbWMoHSupCj9nW84htL49pAepUVWYhFi1I29H0tvgrIRsL3tJZvTDlB9klYddgPFuu14OaZ89VHGIqo5UhQcoXrhxYRYg7HskiLb/R1K9tY2yqa5Pd/ih79kCUV/dfVz/kKtqWayQmh1slW1Dc3pmoEU090/HuuNQXRPK3+oniIZjVV3HVLlnK3RV6CrjHRH7PHFIWUXErWVwIXHOeGfNDl6KXG7AUnpIDqp+McCfVG1OhASE8geRXJoh88UyY4DIMVIOt9tRdmyzFoRBJOBqVP7QK2I5RrI5fhRlVviwF2JDh1WI14ECcdVIbCUN+UsO0Suuq2SlKhcVqdV91v6P/gXiJ6nfaRHpmWOOi6i2l22+tl7aQcU/18WmnKlVd61AZHupeLWNxxGLP0V8ivPrea+2JdJfhYn2fZvtHY0Yrmkmvxrhxq/lCC/NujDd5sBWNm51Rlt7GWuNCVwlUz/FL/1nK8pcktjompMj44/xkHy3j4y673JDHkMaKlPWCvNQwRMZxCKhVpXI9iCthfq+kzbk4urF0W6tv7Du36Z90aasTdG+Tf/WXVj/v/pf9Zd9+93+2zbs2FNZ9LfQoqMk302nVksTY00dDaGSQOFWYaBkgTjayKPF85st2LogQVRa83Lzy4d1fYu3wvvtFcF7wc8g+pWAeNtZxsr8rBrlLja76q3kDx3TcoxZCoT6hHrbwnzCvBvTVujd2xZh81dCTgxnpniWuElsZ0dzZuHdxI7xmim2F7QZbjFIboymrH0pMoteB+mv9K+VGbLhpXlsu8guFE+omy5Vn2q+e0Zb4t/ikzFt/kM5/xyfCqdohaHzfG1hrl6nP6BzK3HTqbPS2khacUWaxY6QMvVDtftULLug50wMPH69jBVMLaW8RTtePx440XZEQJkpsVj5WBmSlJSumU50bf1oYwhefL1s4HP0HL7h8tcXCNn4qLVrIm2OA2GcDGOC8zBjos9Hr499js1AXvAYgxOblhWvZidXZcns1cWy75FfF89UgcFcEboyilSF32h5kpy7QTPkHdef836IT/pdxzz7vgRo3w2pca/LsOpp6zB9j9VujRCKulzNXm9ZhnNwUlK9rx3sHKn33lsv/fnixU992LC8M2PlWwUioZyJqU7t7lu9vCR/oUPIhJhtCs8pU+jGhR80DjglhI067NO8n3uzeTHzQ+ZHz+/d2+jhrXLkzaaRzgpXgW9nz/4K58xpnMfh/T1+ZHj0s/EfCLmpAxcuHJjKFT4ATOdNvMEtPiWSBBLs+LfKZPXqntgr1X3hDNtGNZXnEuPygLEJ5KKAKShZZwkapRsVZNHVBRrFxUHHvHPMvbr+7dXN7Mv/wiYCiUailgr8GZfDC01tUmJqiG9jyuph6tWCwv68znCPDaVhbgMH6hK57wy+H0rf+xpHHvA6lBkOWX39yldy3/dF74vv+8jnzW2oP1ipawxpDLWH2DEiw2gYYRxhWK43Woz6GEOsMdZgsMC4wlgbYzEUE17qH64B8vtxH0Zp7HfsGpvjrmXLs+cw/kRBdXJ+zZYi7ybvSa7Ja/Ml8XvjZfEmL68TXsdzQ3WYdmr1PLd2o6yRVltwuY293ZQh3Gy/9puzd5yQBsXGWGJj66JjzWwXhtuw5PjGGptZ1CSK29PUFCeaZZSmTQ0WI96KXvZuWrEOb1W9FgwzmNgmQ/yPqlPhK2emdkbP2l6WUU4BLjPHN8YlC1JixzXOcEW7xm32+XdlMOBgHfF1EIgPdgKksSxpgxjr2yZ8ZQGHODuUick+RGUrFCYGvgwz6VyPhjD8OpwhOHjNnEpJ2Deu4Dd+Lfr/t3Gw6O2Oc3/n66z1NnSytKe/fwOG31W0nz71YwasDyiHKHQO/Z3QH7wKFgC+LgUcUDlSHJ9WDgFjTa0Yp6R/YlQqhFjT9jKJHAHUMPazMBDIhzdMawugQDYoEJoHAj4sXiALYnTOpsD/B0Swpu1HBjJQY2IgG3wsD+SjABtXFsB0QnYD8Vq/EbfZi6cLZ/qH1MyraW1Tvo83VohXDKY/TN1jpxpMEF7Mi1fFPLMpwiNIbVItT+dC27da4uUrE6/1G3GbvXi90ox/fNIaZWqjZTV91m++9of2iiGjPyJ53WNHdUYwQYXwkvLXbNSSzZrxBy/tFSNIZllphory5PR4wZZbx2I5NfX/QwdUK2/LIhShCUPYhEO4hPc340qFRETEREKkZeUVlVXVNbWdOiPmdaHia3p0ni6Zy4yB9dwZcTkeQmr1O66HkH6TCDm164fh3M6cq168dl1yjMcVVhY+NEEfW86qXD5eKd3bKIJaN4FtQ1+gkPGhLK+BG2kUX6wayszk9fDLbs0KwqgtpWszFV4onZvWbV2IrCkMWbvUNp3arx6UQBNloRnlRdyL8EdyTNo9z86yZoSho7UrswUAAAAA);
}
html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  background: white;
}
body {
  margin: 0;
  padding: 0;
}
body,
td {
  font-family: var(--fontfamily);
  font-size: var(--textsize);
  color: var(--textcolor);
}
#views {
  width: 100%;
  max-width: 1370px;
  margin: 0 auto;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  & .view {
    display: none;
    position: absolute;
    opacity: 1;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    will-change: transform, opacity;
    transform: translate3D(0, 0, 0);
    transform-origin: 0px 50%;
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(.42, 0, .04, 1);
  }
  & .view.next_startstate {
    opacity: 0;
    transform: translate3D(35px, 0, 0);
  }
  & .view.previous_endstate {
    transform: translate3D(-35px, 0, 0);
  }
  & .view.active_endstate {
    opacity: 0;
    transform: translate3D(35px, 0, 0);
  }
}
#fetchlassy_overlay,
#lazyload_overlay {
  display: none;
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
#fetchlassy_overlay.active,
#lazyload_overlay.active {
  display: block;
}
.waiting_animate {
  display: none;
  z-index: 1001;
  position: absolute;
  top: 42%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  background: white;
  box-shadow: 0 0 20px 20px white;
  & > .spinner {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid #e1e1e1;
    border-radius: 50%;
    border-top-color: #0091e8;
    animation: spin 1s ease-in-out infinite;
  }
}
.waiting_animate.active {
  display: block;
}
#click_visual {
  display: none;
  z-index: 1002;
  position: absolute;
  top: 100px;
  left: 0px;
  width: 0px;
  height: 40px;
  & > .clickybubble {
    display: inline-block;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #e0e0e0;
    opacity: 0;
    transform: scale(.5);
  }
}
#click_visual.active {
  display: block;
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
.alert-modal {
  display: none;
  position: fixed;
  box-sizing: border-box;
  padding-top: 132px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(241 241 241 / 75%);
  z-index: 9999;
}
.alert-modal.active {
  display: block;
}
.alert-content {
  background: white;
  width: 90%;
  max-width: 450px;
  margin: auto;
  height: 210px;
  box-shadow: 0 0 20px rgb(0 0 0 / 17%);
  display: block;
  padding: 0 20px 20px 20px;
  text-align: center;
  border-radius: 12px;
  border: 1px solid #cccccc;
}
.alert-content h1 {
  margin: 0;
  font-size: 22px;
  margin-bottom: 8px;
  padding-bottom: 11px;
  padding-top: 10px;
  border-bottom: 1px solid #e7e7e7;
}
.alert-content p {
  flex: 1;
  margin: 20px 0 40px 0;
}
.alert-content button {
  padding: 10px 20px 12px 20px;
  font-size: 16px;
  border: none;
  background: var(--actioncolor);
  color: white;
  cursor: pointer;
  border-radius: 10px;
}
#local_testing_purposes {
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 9999;
}
#local_testing_purposes button {
  margin-left: 5px;
  padding: 4px 6px;
  font-size: 11px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
