


  .content {
    overflow-y: hidden;
  }

  .statusheader { 
    display: flex;
    border-bottom: 3px solid #c5decf;
    background: white;
    box-sizing: border-box;
    height: 103px;

    & > #auxheaderspace_a { 
      display:flex;
      width: 324px;

      & > div { 
        font-size: 12px;
        padding-top: 62px;

        & strong { 
          display: inline-block;
          padding-bottom: 3px;
          font-size: 14px;
          font-weight: 600;
        }
      }
      & > div:nth-child(1) { width: 15px;  }
      & > div:nth-child(2) { width: 103px; }
      & > div:nth-child(3) { width: 72px; }
      & > div:nth-child(4) { width: 70px; }
      & > div:nth-child(5) {  }
    }
  }


  .rotate {
    display: flex;
    flex-grow: 1;
    position: relative;

    & > div {
      position: relative;
      width:10%;
      height: 100px;
      white-space: nowrap;
      text-align: left;

      & > div {
        transform: rotate(300deg);
        transform-origin: bottom left;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 58%;
        height: 25px;

        & > span {
          /*border-bottom: 8px solid #c6decf;	*/
          font-weight: 700;
        }
      }
    }
  }


  .no_statuses {
    text-align: center;
    padding: 40px;
    font-size: 21px;
  }


  ul.statuses {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding-top: 0;
    display: block;
    width: 100%;
    height: calc(100% - 103px);
    overflow-x: hidden;
    overflow-y: scroll;

    & > li {
      display: flex;
      margin: 0;
      padding: 0;
      height: 38px;
      background-image: linear-gradient(180deg, transparent, transparent 48%, #c6decf 48%, #c6decf 52%, transparent 52%);

      & > aside {
        display:flex;
        width: 324px;

        & .datetime {
		  position: relative;
          color: #7b7b7b;
          width: 107px;
          font-size: 13px;
          padding: 4px 0 0 8px;
          margin: 6px 0 0 5px;
          height: 26px;
          box-sizing: border-box;
          border-radius: 8px 0 0 8px;
          background: white;
          border-radius: 8px 0 0 8px;
          border-width: 1px 0 1px 1px;
          border-color: #dee7f1;
          border-style: solid;
        }
        & .datetime.is_startup::before {
		  content: "isstartup";
		  position: absolute;
		  width: 8px;
		  height: 8px;
		  background-color: #5a8cca;
		  border-radius: 50%;
		  margin-right: 5px;
		}
        & .datetime.is_resend::before {
		  content: "isresend";
		  position: absolute;
		  width: 8px;
		  height: 8px;
		  background-color: #5a8cca;
		  border-radius: 50%;
		  margin-right: 5px;
		}

        & > .gallons {
          display: flex;
          font-size: 13px;
          padding: 6px 0px 0 0px;

          & > div {
            width: 70px;
            height: 26px;
            color: #7b7b7b;
            font-weight: normal;
            padding: 4px 0 0 8px;
            background: white;
            box-sizing: border-box;
            border-radius: 0;
            border-width: 0;
            border-color: #dee7f1;
            border-style: solid;

            & > span:nth-child(1) {
              display: inline-block;
              width: 23px;
            }
            & > span:nth-child(2) {
              display: inline-block;
              width: 16px;
            }
            & > span:nth-child(3) {
              display: inline-block;
              width: 10px;
            }

          }
          & > div:nth-child(1) {
            border-radius: 0;
            border-width: 1px 0 1px 0;
          }
          & > div:nth-child(2) {
            border-radius: 0;
            border-width: 1px 0 1px 0;
          }
          & > div:nth-child(3) {
            border-radius: 0 8px 8px 0;
            border-width: 1px 1px 1px 0;
          }
        }
      }

      & > .statuses {
        flex-grow: 1;
        display: flex;

        & > div {
          position: relative;
          text-align: center;
          width: 10%;
          background-image: linear-gradient(90deg, transparent, transparent 49%, #d9e8e0 49%, #d9e8e0 50%, transparent 50%);

          & > span.single {
            display: inline-block;
            padding-top: 6px;

            & > img {
              width: 24px;
            }
          }
          & > span.double {
            position: absolute;
            top: 6px;
            display: block;
            left: 50%;
            z-index: 2;

            & > img {
              width: 24px;
            }
          }
          & > span.double:nth-child(1) {
            margin-left: -18px;
          }
          & > span.double:nth-child(2) {
            margin-left: -7px;
          }
          & > span.double.ok {
            z-index: 1;
          }
        }
      }
    }
    
    & > li.totalsrow {
      margin-bottom: 36px;
      margin-top: 0px;

      & > aside {

        & .datetime {
          font-weight: bold;
          color: #5a8cca;
          background-color: #ebeef2;
        }

        & > .gallons {

          & > div {
            color: white;
            font-weight: bold;
            border-width: 0;
            padding-top: 5px;
          }
          & > div:nth-child(1) {
            background-color: #5b88bf;
            border-right: 2px solid #d3e5fc;
          }
          & > div:nth-child(2) {
            background-color: #5b88bf;
            border-right: 2px solid #d3e5fc;
          }
          & > div:nth-child(3) {
            background-color: #5b88bf;
          }
        }
      }
    }
  }




@media only screen and (max-device-width: 767px) {

    .statusheader .rotate {
        display: none;
    }

    ul.statuses > li > .statuses {
        display: none;
    }
}




@media only screen and (min-device-width: 768px) {

}



