
<!--

  <div class="right">
    <i class="icon-info" @click="${()=>{ this.ShowDetailsUI(); }}" style="font-size: 25px;position: relative;top: -3px; padding-right: 12px;"></i>
    <i class="icon-edit1" @click="${()=>{ this.ShowEditUI(); }}" style="font-size: 27px;position: relative;top: -1px; padding-right: 7px;"></i>
    <i class="icon-location" @click="${()=>{ this.ShowMap(); }}" style="font-size: 21px;position: relative;top: 1px; padding-right: 9px;"></i>
    <i class="icon-graph" @click="${()=>{ window.location.hash='machinetelemetry/'+_machine.chip; }}" style="font-size: 21px;position: relative;top: 1px;"></i>
  </div>
-->
<header class="viewheader" style="justify-content: space-between;">
    <a class="left" @click="${()=>$N.SwitchStation.NavigateBack({default:'machines'})}" style="width:34%;"><span>‸</span><span>back</span></a>
    <div class="middle" style="width:30%;">
        <div class="btn-group" style="position:relative; top:2px;">
            <button class="${_s.whatstr === 'Store Meter' ? 'active' : ''}" @click="${()=>{ this.Set_It({what:'meter_store'}) }}"><i class="icon-meter"></i> &nbsp;METERS</button>
            <button class="${_s.whatstr === 'PSI' ? 'active' : ''}" @click="${()=>{ this.Set_It({what:'psi'}) }}"><i class="icon-pressure"></i> &nbsp;PSI</button>
        </div>
    </div>
    <div class="right" style="width:30%;">
        <i id="show_aggregate_clicker" class="icon-tune" @click="${()=> this.sc({show_controls:1})}" style="font-size: 19px;position: relative;top: 2.5px;padding-right: 30px;position: absolute;top: 14px;right: 189px;"></i>
        <span style="display: inline-block;position: relative;top: 0px;">
            <i class="icon-arrowleft1" data-direction="dateback" @click="${()=>{ this.Go_Back_One_Day() }}"></i>
            <input type="date" id="day" name="day" value="${_s.datestr}" @change="${(e)=>this.Go_To_Selected_Day(e)}">
            <i class="icon-arrowright1" data-direction="dateforward" @click="${()=>{ this.Go_Next_One_Day() }}"></i>
        </span>
    </div>
</header>

<div class="content">

    <div class="ct-chart"></div>

    <c-graphing  
        runupdate="${_s.run_graph_update}"
        tmzncy="${_s.timezone}" 
        bucket="PWT" 
        begintime="${_s.begintime}"
        measurement="${_s.measurement}" 
        fields="${_s.fields.filter(f=>f.active).map(f=>f.name).join(',')}" 
        tags="${_s.tags}" 
        type="${_s.type}" 
        intrv="${_s.intrv}" 
        nifl="${_s.nifl}"
        ppf="${_s.ppf}"
        priors="${_s.priors}"
        ismdn="${_s.ismdn}"
        lowhigh="${_s.lowhigh}"
        unitterms="${_s.unitterms}"
        median="${_s.median}">
    </c-graphing>

    <div class="bottomarea">

        <!--<vc-machinetelemetry-statusrow begin="${_s.statusrow_begin}" chip="${_s.tags.split(',')[0].split(':')[1]}"></vc-machinetelemetry-statusrow>-->

        <div id="inforow">
            <div id="legend">
                <div class="fields">
                    ${_s.fields.map((f,i)=>html`
                        <div class="field ${f.active ? 'active' : ''}" @click="${(ev)=> this.Set_Fields(ev) }" data-fieldname="${f.name}">
                            <div class="color color_${i} ${_s.tags.split(",").length === 1 && _s.priors.length === 0 ? 'active' : ''}"></div>
                            <div class="name">${f.name}</div>
                        </div>
                    `)}
                </div>

                <div class="xtratags">
                    ${_s.tags.split(",").length > 1 ? html`
                        ${_s.tags.split(",").map((t,i)=>html`
                            <div class="xtratag">
                                <div class="color color_${i} active"></div>
                                <div class="name">${t.split(':')[0]}: ${t.split(':')[1]}</div>
                            </div>
                        `)}
                    ` : ''}
                </div>

                <div class="priors">
                    ${_s.priors.split(",").length > 1 ? html`
                        <div class="prior">
                            <div class="color color_0 active"></div>
                            <div class="name">Selected ${_s.priors.charAt(_s.priors.length-1) == 'd' ? 'Day' : 'Week'}</div>
                        </div>
                    ` : ''}

                    ${_s.priors.split(",").map((p,i)=>html`
                        ${i == _s.priors.split(",").length-1 ? '' : html`
                            <div class="prior">
                                <div class="color color_${i+1} active"></div>
                                <div class="name">${p} ${_s.priors.charAt(_s.priors.length-1) == 'd' ? 'Day' : 'Week'}${Number(p)>1 ? 's' : ''} Prior</div>
                            </div>
                        `}
                    `)}
                </div>
            </div>
            <div id="stats">
                <div class="averages">

                    <!--<vc-machinetelemetry-medians-->
                    <!--    fields="${_s.median_fields}"-->
                    <!--    chip="${_s.tags.split(',')[0].split(':')[1]}"-->
                    <!--    aggregate_fn="${_s.median_fn}"-->
                    <!--    measurement="${_s.measurement}"-->
                    <!--    unitterms="${_s.unitterms}">-->
                    <!--</vc-machinetelemetry-medians>-->

                </div>
            </div>
        </div>

    </div>

</div>




${ _s.show_controls !== 0 ? html`
    <c-ol 
        shape="1" closebtn="true" showheader="true"
        @close="${()=> this.sc({show_controls:0})}">

        <span slot="headermiddle">Graph Settings</span>
        <div class="controls">

            <h2>Aggregate (Median) Amount</h2>

            <div class="choices aggregate">
                <div class="choice ${_s.aggregate_str === '1_h' ? 'active' : ''}" @click="${()=> this.Set_Aggregate('1_h')}">1hr</div>
                <div class="choice ${_s.aggregate_str === '2_h' ? 'active' : ''}" @click="${()=> this.Set_Aggregate('2_h')}">2hr</div>
                <div class="choice ${_s.aggregate_str === '3_h' ? 'active' : ''}" @click="${()=> this.Set_Aggregate('3_h')}">3hr</div>
                <div class="choice ${_s.aggregate_str === '4_h' ? 'active' : ''}" @click="${()=> this.Set_Aggregate('4_h')}">4hr</div>
            </div>


            <h2>Compare Stores</h2>

            <div class="choices compare_stores">
                <div class="choice ${!_s.tags.includes(',') ? 'active' : ''}" @click="${()=> this.Set_Xtratags('')}">Off</div>
                <div class="choice ${_s.tags.includes('chip:0064') ? 'active' : ''}" @click="${()=> this.Set_Xtratags('chip:0064')}">0064</div>
                <div class="choice ${_s.tags.includes('chip:0063') ? 'active' : ''}" @click="${()=> this.Set_Xtratags('chip:0063')}">0063</div>
            </div>

            <h2>Compare From History</h2>

            <div class="choices compare_stores">
                <div class="choice ${_s.priors.length === 0 ? 'active' : ''}" @click="${()=> this.Set_Priors('')}">Off</div>
                <div class="choice ${_s.priors.includes('1,2,3,d') ? 'active' : ''}" @click="${()=> this.Set_Priors('1,2,3,d')}">1,2,3,d</div>
                <div class="choice ${_s.priors.includes('1,7,30,d') ? 'active' : ''}" @click="${()=> this.Set_Priors('1,7,30,d')}">1,7,30,d</div>
            </div>

            <div>Show Average (Median) <input type="checkbox" @change="${(ev)=> this.Set_Is_Median_Shown(ev) }" .checked="${_s.median_fields != ''}"></div>
            <br>

            <div>Show Status Row <input type="checkbox" @change="${(ev)=> this.Set_Is_Status_Row_Shown(ev) }" .checked="${_s.statusrow_begin !== 0}"></div>
            <br>

        </div>
    </c-ol>
` : ''}



