


    .viewheader {

        & .left, & .right {
            width: 38%;
        }
        & .middle {
            width: 24%;
        }

        & .right {
            display: flex;
            justify-content: flex-end;
        }
    }

    c-graphing {
        width: 100%;
        box-sizing: border-box;
    }

    header.viewheader .middle h1 {
        font-size: 16px;
    }

    input[type="date"] {
        padding: 0px 0px 0px 10px;
        color: #ffffff;
        font-size: 12px;
        font-weight: bold;
        border: none;
        outline: none;
        border-radius: 5px;
        background-image: linear-gradient(0deg, #007ac2, #19a2f4);
    }
    input[type="date"]:before, & input[type="date"]:after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    i[data-direction="dateback"] {
        display: inline-block;
        font-size: 18px;
        position: relative;
        padding-right: 8px;
        top: 3px;
        color: var(--actioncolor);
    }

    i[data-direction="dateforward"] {
        display: inline-block;
        font-size: 18px;
        position: relative;
        padding-left: 8px;
        top: 3px;
        color: var(--actioncolor);
    }

    ::-webkit-calendar-picker-indicator {
        background-color:#fff;
        padding: 5px;
        cursor: pointer;
        border-radius: 3px;
    }

    .btn-group {

        justify-content: center;

        & > button {
            font-size: 14px;
            padding: 4px 9px;
            box-shadow: none;
        }

    }

    .bottomarea {
        padding: 0px 0px 20px 0px;
        margin: 0 14px 0 50px;
    }

    #inforow {
        display: flex;
        justify-content: space-between;

        & #legend {
            display: flex;
            padding-bottom: 11px;

            & .fields {
                display: flex;
                border-right: 1px solid #979797;
                margin-right: 10px;

                & .field {
                    cursor: pointer;
                }
            }

            & .xtratags {
                display: flex;
            }

            & .priors {
                display: flex;
            }

            & .prior, & .field, & .xtratag {
                display: flex;
                align-items: center;
                margin-right: 9px;
            }

            & .color {
                width: 0px;
                height: 10px;
                border-radius: 5px;
            }
            & .color.active {
                width: 10px;
                margin-right: 5px;
            }

            & .name {
                font-size: 12px;
            }

            & .active {

                & .name {
                    font-weight: bold;
                }
            }

            & .color_0 {   background: #0091e8;   }
            & .color_1 {   background: #1eeba7;   }
            & .color_2 {   background: #eb1e7c;   }
            & .color_3 {   background: #1ad0ff;   }
        }

        & #stats {
            display: flex;

            & .average_fields {
                display: flex;

                & .average_field {
                    color: gray;
                }
            }
        }
    }


    .statuses {
        box-sizing: border-box;
        padding-left: 50px;
        padding-right: 15px;
        width: 100%;
        height: 30px;
        position: relative;
        background-color: blue;

        & .points {
            position: relative;
            width: 100%;
            height: 30px;
            background-color: red;

            & .point {
                position: absolute;
                background: green;
                width: 20px;
                height: 20px;
                border-radius: 10px;
                overflow: hidden;
            }
        }

    }


    .controls {
        padding: 14px 12px 0 12px;

        & h2 {
            padding-bottom: 10px;
            font-size: 15px;
            font-weight: bold;
            padding-bottom: 10px;
        }
    }

    .choices {
        background-color: #f8f8f8;
        border-radius: 4px;
        padding: 8px;
        border: 1px solid #dedede;
        display: flex;
        gap: 10px;
        margin-bottom: 20px;


        & .choice {
            padding: 5px 10px;
            width: 100%;
            height: 28px;
            cursor: pointer;
            background-color: white;
            border: 1px solid #c2c2c2;
            border-radius: 4px;
            box-sizing: border-box;
        }
        & .choice.active {
            background-color: var(--actioncolor);
            color: white;
            font-weight: bold;
            border: none;
        }
    }



/** Chrome */
@supports (-webkit-appearance:none) {
    input[type="date"] { padding: 3px 10px 4px 10px; } 
}


