

:host {
    position: relative;
    font-weight: 600;
    display: inline-block;
    padding: 8px 15px 0px 15px;
    border-radius: 22px;
    box-sizing: border-box;
    height: 36px;
    color: gray;
    background-color: white;
    border-color: var(--actioncolor);
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}
:host(:hover) {
    background-color: #f2f5f6;
}

:host([primary]) {
    border-color: white;
    background-color: var(--actioncolor);
}

:host([primary]) #slotwrap {
    color: white;
    transition: opacity 0.4s ease-in;
}


:host([small]) {
    padding: 2px 10px 0 10px;
    height: 24px;
}

:host #slotwrap.subdued {
    opacity: 0.4;
}

:host c-animeffect {
    position: absolute;
    top: 7px;
    left: calc(50% - 10px);
    width: 20px;
    height: 20px;
}



