
:root {
    --fontfamily: -apple-system, BlinkMacSystemFont, sans-serif;
    --textcolor: #565656;
    --textcolor-fade: #818181;
    --textsize: 14px;
    --actioncolor: #0091e8;
    --background: white;
    --background-highlight: #f9f9f9;
    --bordercolor: lightgray;

    /* layout and spacing */
    --padding-container: 10px;
}

div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
    font-family: var(--fontfamily);
    -webkit-font-smoothing: antialiased;
    font-size: var(--textsize);
    line-height: 1.2;
    margin: 0;
    padding: 0 0px 0 0;
    color: var(--textcolor);
}

#updating {
	display: none;
}
#updating.active {
	display: block;
}

#updated {
	display: none;
}
#updated.active {
	display: block;
}

#updateerror {
	display: none;
}
#updateerror.active {
	display: block;
}


#login {
	display: none;

	& h1 {
		font-size: 20px;
        text-align: center;
		margin-bottom: 26px;
	}

	margin: 0 auto;
	width: 300px;

	& > ul {
		margin: 0;
		padding: 0;
		list-style: none;

		& > li {
			margin-bottom: 24px;

			& > h5 {
				display: block;
				font-size: 14px;
				margin-bottom: 5px;
			}

			& > input {
				box-sizing: border-box;
				width: 100%;
				padding: 10px;
				border: 1px solid #ccc;
				border-radius: 5px;
				font-size: 14px;
			}
		}
	}

	& #submit_login_button {
		margin-bottom: 20px;
	}

	& #login_errormsg {
		display: none;
		margin-top: 10px;
		padding: 10px;
		border: 2px solid #dc3545;
		border-radius: 5px;
		background-color: #f8d7da;
		color: #721c24;
		font-size: 16px;
		text-align: center;
	}
	& #login_errormsg.active {
		display: block;
	}
}
#login.active {
    display: block;
}

.input-error {
    border: 2px solid #dc3545;
    background-color: #ffe6e6;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

#login.error {
    animation: shake 0.5s;
}


#logged_out {
	display: none;

	& #login_button {
		width: 200px;
        margin: 0 auto;
        text-align: center;
        font-size: 19px;
        padding-bottom: 13px;
		text-decoration: none;
		color: var(--actioncolor);

		& a {
			color: var(--actioncolor);
			text-decoration: none;
		}
	}

}
#logged_out.active {
	display: block;
}


#logged_in {
	display: none;
    width: 283px;
    margin: 0 auto;


	& #home_button {
		margin-bottom: 12px;
        text-decoration: none;

		& a {
			color: var(--textcolor);
			text-decoration: none;
		}
	}

}
#logged_in.active {
	display: block;
}

#update_done {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

#error {
	display: none;
}
#error.active {
	display: block;
}


.btn {
	cursor: pointer;
	padding: 10px 20px;
	border-radius: 5px;
	border: 1px solid var(--actioncolor);
	text-align: center;
	font-size: 17px;
}



