

vp-machinetelemetry-medians {

    & .fields {
        display: flex;
        font-size: 12px;

        & .prelude {
            padding-right: 6px;
            border-right: 1px solid rgb(159, 159, 159);
            margin-right: 6px;
        }

        & .field {
            padding-right: 6px;

            & strong {
                text-decoration: underline;
            }
        }
        & .field:last-child {
            padding-right: 0;
        }
    }
}


