:host {
    color: orange;
    -webkit-font-smoothing: antialiased;
    display: flex;
    -webkit-font-smoothing: antialiased;
    position: relative;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: nowrap;
    text-indent: 0;

    padding-left: 11px;
    height: 52px;
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
    border-bottom-color: var(--bordercolor);
    padding-right: 8px;
}

:host > label {
    overflow: hidden;
    text-wrap: nowrap;
    margin-right: 6px;
    font-family: var(--fontfamily);
    font-weight: 700;
    color: rgb(190 56 151);
    padding: 17px 0 0 0px;
}
:host > label::after {
    content: ":";
}

:host > section {
    position: relative;
    flex: 1;
}

:host > section > #view {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    cursor: pointer;
    position: relative;

    & > p {
        font-family: var(--fontfamily);
        color: var(--textcolor);
        padding: 17px 0 0 0;
        margin: 0;
        -webkit-font-smoothing: antialiased;
    }

    & > span#err_msg {
        position: absolute;
        top: 33px;
        right: 33px;
        font-size: 12px;
        color: var(--errorcolor);
    }

    & > i {
		font-family: icons !important;
        font-style: normal;
        font-weight: normal !important;
        font-variant: normal;
        text-transform: none;
        vertical-align: top;
        -webkit-font-smoothing: antialiased;
        font-size: 18px;
        padding: 20px 0px 0 13px;
        color: var(--actioncolor);
        width: 20px;
        height: 20px;
        display: inline-block;
        cursor: pointer;
    }
	/*
    & > i::before {
        font-family: icons !important;
        font-style: normal;
        font-weight: normal !important;
        font-variant: normal;
        text-transform: none;
        vertical-align: top;
        -webkit-font-smoothing: antialiased;
        content: "\f105";
    }
	*/
}
:host > section > #view.initial_edit {
    border: 1px solid #cecece;
    border-radius: 4px;
    padding-right: 6px;
    width: calc(100% - 7px);
    height: 23px;

    & > i {
        font-size: 13px;
        display: inline-block;
        padding-top: 1px;
        padding-right: 3px;
        transform: rotate(90deg);
        transition: opacity 0.3s;
    }
}

:host > section > #edit {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    top: 9px;

    & > input {
        font-family: var(--fontfamily);
        font-size: 14px;
        box-sizing: border-box;
        outline: none;
        border: 1px solid #cecece;
        border-radius: 4px;
        padding: 6px 5px 8px 5px;
        color: #6d6d6d;
        display: inline-block;
        margin-top: 0;
        flex: 1;
        width: 100%;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    & > c-dselect {
        display: block;
        width: 100%;
    }

    & > i {
        font-family: icons !important;
        font-style: normal;
        font-weight: normal !important;
        font-variant: normal;
        text-transform: none;
        vertical-align: top;
        -webkit-font-smoothing: antialiased;

        padding: 9px 0px 0px 9px;
        font-size: 16px;
        width: 20px;
        height: 20px;
        color: var(--actioncolor);
		cursor: pointer;
    }
    & > i.hide_while_spinner {
        opacity: 0;
    }

    & > c-animeffect {
        position: absolute;
        opacity: 0;
        top: 9px;
        right: 4px;
        width: 18px;
        height: 18px;
    }
    & > c-animeffect.active {
        opacity: 1;
    }

    & > c-dselect + c-animeffect {
        top: 8px;
        right: 5px;
    }

    & > .switch + c-animeffect {
        top: 7px;
        right: 3px;
    }
}

:host span.switch {
    position: relative;
    display: inline-block;
    border-width: 1px;
    border-color: rgb(0 0 0 / 16%);
    border-style: solid;
    border-radius: 52px;
    background-color: #fff;
    width: 30px;
    height: 18px;
    user-select: none;
    transition: 0.4s cubic-bezier(0.73, 0.01, 0.28, 1);
    transition-property: background-color, border-color;

    margin-top: 6px;
    margin-right: 2px;

    & > .inner {
        position: relative;
        display: block;
        width: 14px;
        height: 14px;
        margin-top: 2px;
        border-radius: 50%;
        background-color: #d9dadc;
        user-select: none;
        transform: translateX(2px);
        transition: 0.4s cubic-bezier(0.73, 0.01, 0.28, 1);
        transition-property: background-color, transform;
    }

    & > c-animeffect {
        position: absolute;
        top: 2px;
        left: 3px;
        width: 13px;
        height: 13px;
        /* padding-top: 8px; */
    }
}
:host span.switch.istrue {
    border-color: rgba(255, 255, 255, 0);
    background-color: #36cf90;

    & > .inner {
        background-color: white;
        transform: translateX(14px);
    }
}
