:host {
    display: none;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    padding: 0;
    border-bottom: 0.5px solid var(--bordercolor);
    /*background-color: #f5f5f5;*/
    background-color: rgba(220, 220, 220, 0);
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    transition-property: clip-path;
    transition-duration: 0.9s;
    transition-timing-function: cubic-bezier(0.91, 0, 0.19, 1);
}

.wrap {
    opacity: 0;
    transform: translateY(-20px);
    transition-property: transform, opacity, background-color;
    transition-duration: 0.9s;
    transition-timing-function: cubic-bezier(0.91, 0, 0.19, 1);
    box-shadow: inset 0 -1px 0px 0px rgb(227 227 227);
    background-color: rgb(200 200 200 / 14%);
}
