
:host {
    display: block;
}

.definewrap {
    width: 100%;
    height: 100%;
}


    h4 {
        padding: 12px 0 5px 12px;
        font-size: 18px;
        border-bottom: 1px solid #ebebeb;
    }

