

<div class="definewrap">

    <h4>Identifiers &amp; Accounts</h4>

    <ul class="items">
        <li>
            <h5>Code Version</h5>
            <p>${_mdetails.particle.codeversion}</p>
        </li>

        <li>
            <h5>Chip ID</h5>
            <p>${_mdetails.chip}</p>
        </li>

        <li>
            <h5>PwtData ID</h5>
            <p><a href="https://pwtdata.com/index.php?action=view&controller=clients&clientID=${_mdetails.pwtdataid}" target="_blank">${_mdetails.pwtdataid}</a></p>
        </li>

        <li>
            <h5>Machine ID</h5>
            <p>${_mdetails.machineid}</p>
        </li>

        <li>
            <h5>Store ID</h5>
            <p>${_mdetails.store_id}</p>
        </li>

        <li>
            <h5>Store Name</h5>
            <p>${_mdetails.store_name}</p>
        </li>

        <li>
            <h5>Record ID</h5>
            <p>${_mdetails.id}</p>
        </li>

        <li>
            <h5>Particle Id</h5>
            <p>${_mdetails.particle.id}</p>
        </li>

        <li>
            <h5>Particle Serial</h5>
            <p>${_mdetails.particle.serial}</p>
        </li>

        <li>
            <h5>Particle Product</h5>
            <p>${_mdetails.particle.product}</p>
        </li>
    </ul>

    <br><br>
    <h4>Current State</h4>

    <ul class="items">
        <li>
            <h5>Is Active</h5>
            <p>${_mdetails.state_isactive}</p>
        </li>

        <li>
            <h5>Cellular</h5>
            <p>Strength ${_mdetails.cellsignal} -- Quality ${_mdetails.cellquality}</p>
        </li>

        <li>
            <h5>Cell Connectivity</h5>
            <p>${_mdetails.cellconnectivity === 2 ? 'Full Connect' : _mdetails.cellconnectivity === 1 ? 'Partial Connect' : '?'}</p>
        </li>

        <li>
            <h5>Cellular GPS</h5>
            <p>${_mdetails.cellgps_lat}, ${_mdetails.cellgps_lon}</p>
        </li>

        <li>
            <h5>GPS Last Update</h5>
            <p>
				${ _mdetails.cellgps_ts > 0 ? (new Date(_mdetails.cellgps_ts*1000)).toLocaleDateString() : 'N/A' } 
            </p>
        </li>

        <li>
            <h5>Status Str</h5>
            <p>${_mdetails.state_latest}</p>
        </li>

        <li>
            <h5>Dispenser Mode</h5>
            <p>${_mdetails.dispenser_mode === 'lora' ? "LoRa" : _mdetails.dispenser_mode === 'switching' ? "Switching Discrete" : _mdetails.dispenser_mode === 'discrete' ? "Discrete" : "?" }</p>
        </li>

        <li>
            <h5>Lora Version</h5>
            <p>${_mdetails.dispenser_loraversion}</p>
        </li>

        <li>
            <h5>Meters Tally</h5>
            <p>${_mdetails.meters_tally[0]}, ${_mdetails.meters_tally[1]}, ${_mdetails.meters_tally[2]}, ${_mdetails.meters_tally[3]}, ${_mdetails.meters_tally[4]}</p>
        </li>

        <li>
            <h5>Meter Increments</h5>
            <p>${_mdetails.incrs[0]}, ${_mdetails.incrs[1]}, ${_mdetails.incrs[2]}, ${_mdetails.incrs[3]}, ${_mdetails.incrs[4]}</p>
        </li>
            
        <li>
            <h5>TS</h5>
            <p>${(new Date(_mdetails.ts*1000)).toLocaleDateString()} at ${(new Date(_mdetails.ts*1000)).toLocaleTimeString()}</p>
        </li>
    </ul>

    <br><br>

    ${_s.show_particle_more ? html`` : html`
        <div style="text-align: center;padding: 20px;">
            <c-btn @btnclick="${(e)=>this.GetAndShowParticleDeviceDetails(e)}">VIEW MORE PARTICLE DETAILS</button>
			<br><br>&nbsp;
        </div>
    `}

    ${_s.show_particle_more ? html`
        <h4>Particle More Details</h4>

        <ul class="items" style="margin-bottom:14px;">
            <li>
                <h5>Name</h5>
                <p>${_mdetails.particle_more.name}</p>
            </li>

            <li>
                <h5>Last Heard</h5>
                <p>${ (new Date(_mdetails.particle_more.last_heard)).toLocaleDateString() + ' at ' + (new Date(_mdetails.particle_more.last_heard)).toLocaleTimeString() }</p>
            </li>

            <li>
                <h5>Last Handshake At</h5>
                <p>${ (new Date(_mdetails.particle_more.last_handshake_at)).toLocaleDateString() + ' at ' + (new Date(_mdetails.particle_more.last_handshake_at)).toLocaleTimeString() }</p>
            </li>

            <li>
                <h5>Is Online</h5>
                <p>${_mdetails.particle_more.online}</p>
            </li>

            <li>
                <h5>System Firmware Version</h5>
                <p>${_mdetails.particle_more.system_firmware_version}</p>
            </li>

            <li>
                <h5>Firmware Version</h5>
                <p>${_mdetails.particle_more.firmware_version}</p>
            </li>
        </ul>
    ` : html``}

    <span style="display: block;padding-left: 13px;padding-bottom: 13px;font-size: 0.9em;">*timezone: ${Intl.DateTimeFormat().resolvedOptions().timeZone}</span>

</div>



