:root {
    --fontfamily: -apple-system, BlinkMacSystemFont, sans-serif;
    --textcolor: #565656;
    --textcolor-fade: #818181;
    --textsize: 14px;
    --actioncolor: #0091e8;
    --errorcolor: red;
    --background: white;
    --background-highlight: #f9f9f9;
    --bordercolor: lightgray;

    /* layout and spacing */
    --padding-container: 10px;
}

@font-face { 
  font-family: "icons";
  src: url("/Users/dave/Code/niftyserver/static_dev/media/iconsfont/icons.woff2");
}



html {
  width:  100%;
  height: 100%;
}


body {
  margin: 0; padding: 0;
  width:  100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  background: white;
  /* position: fixed; */
  /* width: 100%; */
  /* max-width: 100%; */
  /* height: 100%; */
  /* max-height: 100%; */
  /* transform: translateZ(0); */
  /* overflow: hidden; */
  /* touch-action: manipulation; */
  /* -webkit-user-drag: none; */
  /* word-wrap: break-word; */
  /* overscroll-behavior-y: none; */
  /* text-size-adjust: none; */
}

body {
  margin: 0;
  padding: 0;
}

body, td {
  font-family: var(--fontfamily);
  font-size: var(--textsize);
  color: var(--textcolor);
}


#views {
  width: 100%;
  max-width: 1370px;
  margin: 0 auto;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;

& .view {
	display: none;
	position: absolute;
	opacity: 1;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;

	will-change: transform, opacity;

	transform: translate3D(0, 0, 0);
	transform-origin: 0px 50%;
	transition-property: transform, opacity;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(.42,0,.04,1);
	/*

	*/  
}

& .view.next_startstate {
	opacity: 0;
	transform: translate3D(35px, 0, 0);
}

& .view.previous_endstate {
	transform: translate3D(-35px, 0, 0);
}

& .view.active_endstate {
	opacity: 0;
	transform: translate3D(35px, 0, 0);
}


	

}



#fetchlassy_overlay, #lazyload_overlay {
  display: none;
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

}
#fetchlassy_overlay.active, #lazyload_overlay.active {
  display: block;
}


.waiting_animate {
	display: none;
	z-index: 1001;
	position: absolute;
	top: 42%;
	left: 50%;
	width: 50px;
	height: 50px;
	margin-left: -25px;
	background: white;
	box-shadow: 0 0 20px 20px white;

	& > .spinner {
		display: inline-block;
		width: 50px;
		height: 50px;
		border: 3px solid #e1e1e1;
		border-radius: 50%;
		border-top-color: #0091e8;
		animation: spin 1s ease-in-out infinite;
	}
}
.waiting_animate.active {
	display: block;
}


#click_visual {
	display: none;
	z-index: 1002;
	position: absolute;
	top: 100px;
	left: 0px;
	width: 0px;
	height: 40px;

	& > .clickybubble {
		display: inline-block;
		top: 0;
		left: 0;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: #e0e0e0;
		opacity: 0;
		transform: scale(.5);
	}
}
#click_visual.active {
	display: block;
}




@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

.alert-modal {
  display: none;
  position: fixed;
  box-sizing: border-box;
  padding-top: 132px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(241 241 241 / 75%);
  z-index: 9999;
}
.alert-modal.active {
  display: block;
}
.alert-content {
  background: white;
  width: 90%;
  max-width: 450px;
  margin: auto;
  height: 210px;
  box-shadow: 0 0 20px rgb(0 0 0 / 17%);
  display: block;
  padding: 0 20px 20px 20px;
  text-align: center;
  border-radius: 12px;
  border: 1px solid #cccccc;
}
.alert-content h1 {
  margin: 0;
  font-size: 22px;
  margin-bottom: 8px;
  padding-bottom: 11px;
  padding-top: 10px;
  border-bottom: 1px solid #e7e7e7;
}
.alert-content p {
  flex: 1;
  margin: 20px 0 40px 0;
}
.alert-content button {
  padding: 10px 20px 12px 20px;
  font-size: 16px;
  border: none;
  background: var(--actioncolor);
  color: white;
  cursor: pointer;
  border-radius: 10px;
}





#local_testing_purposes {
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 9999;
}

#local_testing_purposes button {
	margin-left: 5px;
	padding: 4px 6px;
	font-size: 11px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
