

<svg viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" style="display:none;">
    <symbol id="icon-selected" viewBox="0 0 24 24">
        <circle cx="12" cy="12" r="10" fill="none" stroke="#0091e8" stroke-width="2"/>
        <circle cx="12" cy="12" r="5" fill="currentColor" class="inner-circle"/>
    </symbol>
    <symbol id="icon-unselected" viewBox="0 0 24 24">
        <circle cx="12" cy="12" r="10" fill="none" stroke="#9e9e9e" stroke-width="2"/>
        <circle cx="12" cy="12" r="5" fill="currentColor" class="inner-circle"/>
    </symbol>
</svg>


<header class="notifications viewheader">
    <a class="left" @click="${()=>$N.SwitchStation.NavigateBack({default:'home'})}"><i class="icon-arrowleft1"></i></a>
    <div class="middle">
        <h1>Notifications</h1>
    </div>
    <div class="right">
    </div>
</header>


<div class="notifications content">

	<div class="all_users">

		${_s.all_active_users && _s.all_active_users.map((user,index) => html`
			<div class="user" data-active_user_email="${user.email}">
				<h3>
					${user.fname} ${user.lname} 
				</h3>

				<div class="useractions">
					<i class="icon-edit2"  @click="${(e)=>{ this.show_detailedit(e); }}"></i>
					<i class="icon-add"  @click="${(e)=>{ this.show_add_schedule_interface(e); }}"></i>
				</div>

				<div class="auxinfo">
					<p>nofications set to <strong>${user.notifications.alwaysnotify ? 'always' : 'scheduled'}</strong> </p>
					<p>geo zones ${user.notifications.tags.sort((a, b) => a.localeCompare(b)).filter(t=>t.startsWith('geozone_')).map(t=>t.slice(8)).join(', ')} </p>
				</div>
				<ul class="items schedules-list">
					${user.notifications && user.notifications.schedules && user.notifications.schedules.map((schedule) => html`
						<li data-index="${schedule.index}">

							<h5>
								${this.renderhelp_schedule_userfriendly(schedule)}
							</h5>

							<div class="actions">
								<i class="action icon-edit1"  @click="${(e)=>{ this.show_edit_schedule_interface(e); }}"></i>
								<i class="action icon-trash"  @click="${(e)=>{ this.remove_schedule(e); }}"></i>
							</div>
						</li>
					`)}
				</ul>

				

			</div>
		`)}

		${_s.all_inactive_users && _s.all_inactive_users.map((user,index) => html`
			<div class="user" data-inactive_user_email="${user.email}">
				<h3>
					${user.fname} ${user.lname} 
				</h3>

				<div class="useractions">
					<i class="icon-add"  @click="${(e)=>{ this.show_add_schedule_interface(e); }}"></i>
				</div>
			</div>
		`)}
	</div>
    
</div>




${ _s.show_detailedit !== 0 ? html`
	<c-ol shape="1" title="${_s.editing_detail.name} Details" @close="${()=> this.sc({show_detailedit:0}) }">
        <div id="detailedit">
			<c-in label="Notify Always" name="notifyalways" type="toggle" val="${_s.editing_detail.alwaysnotify ? 'true' : 'false'}" @update="${(e)=>this.toggle_always_notify(e)}"></c-in>
			<ul class="items">
				<li>
					<h5>Geography Zones:</h5>
					<p>zones ${_s.editing_detail.tags.sort((a, b) => a.localeCompare(b)).filter(t=>t.startsWith('geozone_')).map(t=>t.slice(8)).join(', ')}</p>
					<div class="actions">
						<i class="action bolder icon-edit1"></i>
					</div>
					<c-reveal id="geozones">

						<ul class="items geozones">
							${_m.geozones.map((zone, index) => html`
								<li data-index="${index}" @click="${(e) => this.toggle_geozone(e)}">
									<h5>${zone.display}</h5>
									<div class="actions">
										<i class="action ${_s.editing_detail.tags.includes(zone.name) ? 'selected' : 'unselected'}">
											<svg width="24" height="24" viewBox="0 0 24 24">
												<use href="${_s.editing_detail.tags.includes(zone.name) ? '#icon-selected' : '#icon-unselected'}"></use>
											</svg>
										</i>
									</span>
								</li>
							`)}
						</ul>

					</c-reveal>
				</li>
			</ul>
        </div>
    </c-ol>
` : ''}




${ _s.show_schedule_addedit !== 0 ? html`
    <c-ol shape="1" title="${this.s.editing_schedule.index === null ? 'Add New Schedule' : 'Edit Schedule'}" @close="${()=> this.sc({show_schedule_addedit:0}) }" ?close="${_s.show_schedule_addedit === 2}">
        <div id="editschedule" class="schedule-editor">
            ${this.renderhelp_date_time_point('from', this.s.editing_schedule.userfriendly.from)}
            ${this.renderhelp_date_time_point('to', this.s.editing_schedule.userfriendly.to)}
            <div class="schedule-actions">
                <c-btn @click="${() => this.cancel_schedule_addedit()}">Cancel</c-btn>
                ${this.s.editing_schedule.index === null ? html`
                    <c-btn @btnclick="${(e) => this.add_schedule(e)}" primary>Add Schedule</c-btn>
                ` : html`
                    <c-btn @btnclick="${(e) => this.update_schedule(e)}" primary>Update Schedule</c-btn>
                `}
            </div>
        </div>
    </c-ol>
` : ''}




