:host {
}

#types {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: space-around;
	padding: 5px;

	& > div {
		flex: 0 0 calc(50% - 10px);
		height: 135px;
		margin-bottom: 10px;
		max-height: 135px;
		overflow: hidden;
		box-sizing: border-box;
		padding: 3px 3px;
		border: 1px solid #e9e9e9;
		border-radius: 5px;
		
		& > .wrap {
			height: 100%;
			box-sizing: border-box;
			border-radius: 5px;
			padding: 6px 6px;
			background: #f8f8f8;
		
			& > h4 {
				text-align: center;
				margin: 0;
				padding: 0 0 10px 0;
			}

			& > p {
				text-align: center;
				margin: 0;
				padding: 0;
			}
		}
	}

	& > div.slimmer {
		height: 45px;
		max-height: 45px;

		& > .wrap {
			padding-top: 9px;
		}
	}


	& > div.selected {
		border: 1px solid #a8c2d1;
		
		& h4, & p {
			color: white;
		}

		& > .wrap {
			background: #379ad5;
			color: #fff;
		}
	}


	& > div:not(.selected):hover {
		cursor: pointer;

		& > .wrap {
			background: #ddedf7;
		}
	}
}

#types > div .wrap .dateselector {

	.dateselector_row {
		display: flex;
		justify-content: space-between;
		margin-bottom: 4px;
		padding: 0 10px;
		
		
		

		span {
			color: gray;
			position: relative;
			top: 1px;
			width: 31px;
			display: block;
			text-align: left;
		}
		input[type="date"] {
			color: gray;
			font-size: 11px;
			border: 1px solid #d1d1d1;
			border-radius: 4px;
			padding: 2px 7px;
			box-sizing: border-box;
			width: 103px;
		}
	}

	& c-btn {
		box-sizing: border-box;
		height: 26px;
		padding: 4px 6px 4px 7px;
		font-size: 12px;
		margin-top: 6px;
		width: 84px;
		text-align: center;
	}
}
#types > div.selected .wrap .dateselector span {
	color: white;
}


#results {
	& ul.items > li {
		cursor: pointer;


		& > i {
			font-size: 14px;
			position: relative;
			top: 2px;
			right: -3px;
		}


		& > h5 {
			width: 82px;
		}

		& > p {
			text-align: left;
			
		}

		& > p:last-child {
			text-align: right;
			position: relative;
			top: -8px;
			
			& > input {
				width: 95px;
				border-radius: 4px;
				border: 1px solid #dedede;
				box-sizing: border-box;
				padding: 5px 7px;
				font-size: 17px;
			}
		}
	}
	& ul.items > li:hover {
		background: #f8f8f8;
	}
}



#actionbuttons {
	margin-top: 11px;
	margin-bottom: 9px;
	padding: var(--padding-container);
	
	
	
	
	
	
	
	
	
	
	

	& > .buttonrow {
		display: flex;
		justify-content: center;

		& > p {
			color: var(--actioncolor);
			cursor: pointer;
			position: relative;
			top: 7px;
		}

		& c-btn {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	
}


